.login-cube {
  width: 340px;
  height: 540px;
  margin:  auto;
  position: relative;
  perspective: 400px;
  transform:scale(0.60);
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 40px auto;
}

#cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

#cube #back {
  transform: rotateX(0deg) translateZ(-170px) rotateY(180deg);
}

#cube #left {
  transform: rotateY(90deg) translateZ(-170px) rotateY(180deg);
}

#cube #front {
  transform: rotateX(0deg) translateZ(170px);
}

#cube #right {
  transform: rotateY(90deg) translateZ(170px);
}
