@default_color: #48c188;
@default_color_auxiliar: #ff8000;
@grey:#8a8a7b;
@grey-bg:#ddd;
@text-icon: #aaa;
@font-color: #444; 
@fontSize: 16px;
@font-size-menu: 20px; 
@base: #fff; 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
	font: inherit;
    vertical-align: baseline;
 }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
	margin: 0;
	padding: 0;
	border:none;
	outline:none;
	text-decoration:none;
 }
ol, ul {
	list-style: none;
 }
blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
 }
datalist { 
    display: none;
}
::-webkit-scrollbar{
	display: none
 }
ul li, ol li {
    line-height: 1.25rem;
 }
body{
   	line-height: 1;
	box-sizing: border-box;
	overflow-x: hidden;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&.background {
		@media (min-width: 800px){
			background-image: url("/img/background.jpg")
		}
	}

	@media screen and (max-width: 590px) {
		margin:0 auto;
	}

 }
p{	margin: 10px; }
img{
    border: 0;
 }
h1{
	display: block;
	margin: 10px auto;
	font-weight: normal;
	text-align: center;
	span{
		font-size:inherit
	 }
 }
h2{
	margin: 5px;
	line-height: 40px;
	color: #555;
	text-align: center;
	font-size: @fontSize + 0.2;
	@media screen and (max-width: 350px){
		font-size: 1em;
	}
 }
h3{
	margin: 5px;
 }
h4{
	display : block ;
	margin: 15px;
 }
hr{	
	margin: 5px auto 10px auto;
	width: 80%;
 }
thead{
	th{
		text-decoration : underline ; 
		&:focus, &:hover, &:active{
			text-decoration: none;
		}
		height: 1.1em;
	}

 }
[class*="icon-"], [class*="lnr-"]{
	cursor: pointer;
 }
a, i, .a{
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: background 0.1s;
	-moz-transition: background 0.1s;
	-o-transition: background 0.1s;
	transition: background 0.1s;
 }
input :-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
 }
input, button, select, textarea {
	width: 100%;
	height: 35px;
	max-width: 310px;
	margin: auto;
	//padding: 0px  2px 0px 10px;
	display: block;

	&.short{
		width: 45%;
	}
	&:hover, &:active, &:focus{
		outline: 0;
	}
	-webkit-tap-highlight-color: transparent;
	//degradado en los botones de firefox
	background-image: none;
	&:-moz-focus-inner {
		border: 0;
	}
 }
button, input[type="button"]{
	margin: 5px auto !important;
	cursor: pointer; 
	&:disabled{
		border-color: #888 !important;
		color: #888 !important;
	}
 }
table {
	.mostrar_baja{
		display:table-row;
	 }
 }
textarea{
	padding: 7px 5px;
	height: 150px;
 }
input[type="text"], textarea { 
	cursor: text ; 
 }
input[type="radio"], [type="checkbox"]{
	display: inline-block;
	width: 22px;
	position: relative;
	margin: 0 5px;
	height: auto;
	margin: 5px;
	vertical-align: sub;
	cursor: pointer;
  
 }
label[for]{
	cursor: pointer;
 }
input[type="color"] {
	display: inline-block;
	width: 30px;
	height: 20px;
 }
.animate-spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
    display: inline-block;
	vertical-align: bottom;
 }
@-moz-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
@-webkit-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
 }
@-o-keyframes spin {
	0% {
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
 }

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
 }
@-ms-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
 }
@keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
   }
 }
.aling{
	&-left{text-align: left !important;}
	&-right{
		text-align: right !important;
		float:right;
	}
	&-center{
		text-align: center;
		margin: 0 auto;
		input[type=submit], input[type=button]{
			margin: 10px;
		}
		tr{
			text-align: left;
			margin: 0 30%;
		}
	}
 }

.about{
	margin: 60px auto;
	font-size: 0.8rem;
	text-align: center;
	p { 
		color: #888;
	}
 }
.center {
	text-align :  center ;
 }
.cabecera{

	background-color:#fff;
	z-index:1000;
	@media screen and (max-width: 320px) {
		padding-left:0;
		padding-right:0;
	}
	&-content{
		position:relative;
		margin: auto;
		max-width: 800px;
	}
 }
.caption{
	font-size: 0.8em;
 }
 div[data-role=charm]{
	 display: none;
 }

.charm{
	background-image: url("/img/fondo_barra.png");
	display: none;
	position: fixed;
	right: 0;
	top:50px;
	height: 100%;
	z-index: 1001;
	width:320px;
	border-radius: 5px;
	color: @base;
	padding: 1rem;
	.no-seleccionable();
	.contenedor{
		margin: 5px;
		padding: 5px;
		div{
			margin: 2 auto;
		}
		*{
			text-align: left;
		}
	}

	&.right-side {
		right: 0;
		left: auto;
		bottom: 0;
		text-align: center;
		padding-top: 50px;
	}
	&.left-side {
		width: auto;
		left: 0;
		bottom: 0;
	}

	@media (max-width: 320px){
		padding: 0;
	}
 }
.cuerpo{
	position:absolute;
	min-height: 100vh;
	&.center {
		position: inherit ;
		display : inline-blocK ;
	}
 }
.dialog{
	&>i:first-child{
		color: #b1b1b1;
		float: right;
		top: -11px;
		position: absolute;
		right: -11px;
		border: 2px solid;
		border-radius: 50%;
		background-color: #fff;
		cursor: pointer;
		font-family: 'Linearicons-Free';
		font-size: 23px;
		font-weight: bold;
		&:before {
			content: "\e870";
		}
		@media (max-width: 320px){
			top : 5px; 
			right: 5px;
		}
	}
	&>button:first-child{
		margin-top: 10px;
	}
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	display:none;
	width: 320px;
    margin: 55px auto; 
	padding: 20px;
	line-height: 1.5em;
    z-index: 1050;
	text-align:center;
	table{
		width : 100%;
		thead{
			font-size: 0.8em; 
		}
	}
	#tblGuardarCita{
		margin:auto;
		border-collapse: separate;
		border-spacing: 5px;
	 }
	button, input[type="button"]{
		margin: 0 auto;
	    margin-top: 10px;
	 }
	label{
		display: block;
		text-align: left;
		margin-left: 15px;
	 }
	.lst{
		text-align: left;
    	margin-left: 26px;
	 }
	#codigos{
		div{
			display : block ;
		}
	 }
	.iconClass-container{
		input[type="checkbox"],input[type="radio"]{
			float: left; 
		} 
	}
	#contenedor-historial{
		text-align: justify;
		&>div{
			margin: 3px auto; 
			display: block;
		}
	 }
	#newCodigo{
		#lstServ{
			margin: 10px auto;
		}
	 }
	@media (max-width: 320px){
		width:auto;
		.iconClass-container{
			width:auto;

		}
	 }
 }
.disabled, .ocultar_baja{
	display:none !important;
 }
.display-inline-flex{
	margin: 0 auto;
	width: 60%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
 }
.dropdown-toggle{
  	position: relative;
  	cursor: pointer;
   	&:before {
		margin: -2px -5px;
		display: block;
		position: absolute;
		font-size: 0;
		content: "";
		height: 5px;
		width: 5px;
		background-color: transparent;
		border-left: 1px solid;
		border-bottom: 1px solid;
		top: 50%;
		left: 100%;
		z-index: 2;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
 }
.hidden{
	display:none;
 }
.icon{
	&-attention{
		color:#ff0000;
		display:none;
	 }
	&Class{
		&-container{
			padding: 0;
			margin: 0 auto;
			vertical-align: middle;
			position:sticky;
			text-align:center;
			width: 310px;
			min-height: 50px;
			@media (max-width: 320px){
				margin: 0;
				width: 90%;
			}
		
			*{
				box-sizing: border-box;
			}
			.caption{
				float: left;
				font-size: 0.8rem;
				padding-left: 8px;
			}
			input, select, textarea{
				padding-left: 2rem;
				position: relative;
				background-color: @base;
			}
			input[type="color"]{
				padding-left: 0;
				width: 50%;
			}
			.iconClass-inside{
				color: @text-icon;
				right: 10px;
				&:first-of-type{
					width: 10px;
					left: 5px;
					height: 0;
				}
				&.icon-note.grande{
					bottom : 142px;
				}
			}
			&.checkbox{
				height: 20px;
				float: left;
				margin-left: 5px;
				text-align: left;
				min-height: auto;
			}
		 }
		&-inside{
			color: @grey;
			display: flex;
			width: 2ch;
			font-size: @fontSize;
			font-weight: normal;
			line-height: 20px;
			text-align: center;
			position:relative;
			bottom:25px;
			z-index:2;
			cursor: initial;
			margin: 0;

		 }
	 }
	&-eye, &-cancel-circled2, &-trash{
		cursor: pointer;
		&:hover{
			color : @default_color_auxiliar;
		}
	 }
	&-left{
		left: 1ch
	 }
	&-right{
		right: 1ch
	 }
 }
.invalid{
	border-color: #ff0000 ;
 }
.link{
	color: #0000ff;
	text-decoration: underline;
 }
.load{
	margin: 50px auto;
 }
.login{

	text-align:center;
	@media screen and (max-width: 490px) {
		top: 0;
		margin: 0; 
		width: 100%;
		height: 100%;
		border: none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius: 0;

		input[type="radio"], [type="checkbox"] {
			transform:scale(1.5,1.5);
		}
	 }

	input[type=image]{
		cursor: pointer ;
	 }
	 &-help{
		font-size: 0.9em;
		margin: 20px 0;
		color: #0081a6;
		text-align: center;
		a {
		  text-decoration: none;
			:hover {
			  text-decoration: underline;
			}
		}
	}
 }
.mostrar_baja{
	display:initial;
 }
.mostrar{
	 display: table-row;
 }
.ocultar{
	 display: none; 
	 transition: display 0.8s linear 1s;
 } 
 .show{
	display: initial !important; 
	transition: display 1s linear 1s; 
 }; 
 .hide{
	display: none !important; 
	transition: display 1s linear 1s;
 };

.notify{
	display: block;
	margin: auto;
	padding: .625rem;
	width: 320px;
	min-width: 200px;
	cursor: default;
	max-width: 300px;
	position: relative;
	@media screen and (max-width: 320px) {
		width: 300px;
	}
	.notify-icon {
		width: 32px;
		height: 32px;
		font-size: 32px;
		text-align: center;
		position: absolute;
		margin: -16px 10px;
		top: 50%;
		left: 0;
		~ .notify-title,
		~ .notify-text {
			position: relative;
			margin-left: 65px;
		}
	}
	.notify-title,
	.notify-text {
		display: block;
		margin-right: 20px;
	}
	.notify-title {
		margin-bottom: 4px;
		font-weight: 500;
		font-size: 1.3rem;
	}
	.notify-text {
		font-size: .875rem;
	}
	.notify-closer {
		position: absolute;
		font-size: 1rem;
		font-weight: normal;
		z-index: 3;
		outline: none;
		cursor: pointer;
		border-radius: 50%;
		background-color: #ffffff;
		color: #777777;
		top: .5rem;
    	right: .5rem;
		&:hover{
			background-color: #cde6f7;
  			color: #ffffff;
		}
		&:active{
			background-color: #92c0e0;
  			color: #ffffff;
		}
	}
	.notify-closer:after {
		border-color: #777777;
		content: '\D7';
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -0.65rem;
		margin-left: -0.35rem;
	}
	&-container{
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 5000;
		&-container:before,
		&-container:after {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}
	}
 }
.padding{
	&0{padding:0  !important;}
	&5{padding:5px  !important;}
	&10{padding:10px  !important;}
	&20{padding:20px  !important;}
	&30{padding:30px  !important;}
 }
.place{
	&-right{
		float: right !important;
	 }
	&-left{
		float: left !important;
	}
 }
.popover {
  display: block;
  min-width: 12.5rem;
  height: auto;
  position: relative;
  background-color: #eeeeee;
  padding: 1.25rem;

	* {
		color: inherit;
	}
	&-shadow {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	}
	&:before {
	content: "";
	width: .625rem;
	height: .625rem;
	display: block;
	position: absolute;
	background-color: inherit;
	left: -0.3125rem;
	top: 50%;
	margin-top: -0.3125rem;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	}
	&.marker-on-top:before {
	top: 0;
	left: 50%;
	margin-left: -0.3125rem;
	}
	&.marker-on-right:before {
	top: 50%;
	margin-top: -0.3125rem;
	left: 100%;
	margin-left: -0.3125rem;
	}
	&.marker-on-bottom:before {
	top: 100%;
	margin-left: -0.3125rem;
	left: 50%;
	margin-top: -0.3125rem;
	}
	&.bg-red{
		background-color: #f00; 
		color: #fff;
	}
	&.bg-green{
		background-color: #0f0; 
		color: #fff;
	}
 }
.popup{
	top: 50px;
	margin: 1rem auto;
    position:relative;
    padding: 1rem;
    width:500px;
    box-shadow: 0 2px 5px #666666;
	text-align: center;
    z-index: 1010;
	display: none;

	& input[type=checkbox], & input[type=radio]{
		transform:scale(1.5);
		cursor: pointer;
		margin: 4px;
	}
	p{
		display: blocK;
	}

	@media screen and (max-width: 490px) {
		width:320px;
		margin:auto;
		label{
			display:inline-block;
			margin: auto;
		}
	}

	form {
		label{
			width: 90%;
			padding-right: 20px;
		}
		input[type=checkbox], input[type=radio]{
			margin:10px;
		}
	}
	.close{
		font-family: 'iconos';
		color: #444444;
		position: absolute;
		vertical-align: top;
		right: -7px;
		top: -5px;
		cursor:pointer;
		background-color: transparent;
		border-radius: 50px;
		@media (max-width: 425px){
			right: 0;
			top: 5px;
		}
	}

 }
.popup-overlay{
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
	height: 100vh;
    z-index: 3005;
    display:none;

    cursor: pointer;
	background-color: rgba(162, 162, 162, 0.5);
	.chckLstCon{
		text-align: left;
		margin: auto;
		//left: 33%;
		position: relative;
	}
	.chckSer{
		margin: 10px;
	}
 }
.resaltado{
	font-weight: bold;
 }
.responsiveDesing{
	&_hidden{
		@media (max-width: 590px){display:none;}
	}

	&_show{
		display:none;
		@media (max-width: 590px){display:inline-block;}
	}
 }
.tabcontrol {
	.tabs {
		li{
			a{
				display: block;
				float: left;
				padding: 8px 24px;
				font-size: .6875rem;
				text-transform: uppercase;
				position: relative;
				white-space: nowrap;
			}
			&.active{
				a{
					text-shadow:none;
				}
			}
		}
	}
 }
.tablas{
	display:table;
	table-layout: fixed;
	justify-content: center;
	margin: auto;
	width: 100%;
	tr{
		height:100%;
		text-align: left;
		margin: 0 30%;
	}
	th{
		height: 25px;
	}
	 
	.celda{
		vertical-align: top;
		text-align:left !important;
		height :24px;
		form{
			width:100%;
			margin: 5px auto;
			p{
				margin-left:15px;
			}
			input{
				margin: 10px 0 0 0 auto;
				height: 20px;
			}
		}
		&:hover{
			width:inherit;
			.icon-plus{
				color: @grey;
				display:block;
			}
		}
		.aling-right{
			@media (max-width: 425px){
				font-size:@fontSize + 0.2;
			}
		}
		.icon{
			&-plus{
			display:none;
			text-align:center;
			position: relative;
			top: 5px;
			right: 5%;	
			}
		}
		.iconClass-container{
			width: auto;
		}
		&-horario{
			text-align: center;
			width: 100px;
			border: 0;
			 -webkit-user-select: none;
			 -khtml-user-select: none;
			 -moz-user-select: none;
			 -o-user-select: none;
			 -ms-user-select: none;
			 user-select: none;
       input{
         display: none;
       }
       @media (max-width: 800px){
         input{
           display: inline-block;
         }
       }
			@media (max-width: 425px){
			width:auto;
			}
		}
		table, tr, td, th {
			margin:0;
			border:0;
			padding:0;
			width:100%;
		}
		td{
			padding-left:3px;
			display:block;
			font-size: @fontSize - 0.1;
			@media screen and (max-width: 325px) {
				padding: 0px;
			}
		}
		.prepend-icon{
			margin-right: 5px;
		}
	 }
	&.colorear-filas{
		border-collapse: separate;
		td{
			height: 20px;
			vertical-align: middle;
		}
	}
	&.encabezado, .encabezado {
		color: @grey;
		margin:5px;
		th{
			border: none;
			text-decoration: underline;
			font-size:@fontSize;
		}

	 }
	.ui-tabs{
		width: 100%;
	 }
	.raton{
		cursor: pointer;
	 }
	.ico{
		display: block;
		margin: 0 2px;
		float: left;
	 }
	.opc{
		text-align:center;
		margin:auto;
		display: block;
		min-width: 70px;
	 }
	.num{
		font-size: @fontSize - 0.1;
		width: 3em;
		@media screen and (max-width: 490px){
			font-size: @fontSize - 0.2;
		}
	 }
	.cod{
		width: 120px;
	 }
	.obs{
		width: 50px;
	 }

	&-none{
		margin: auto;
		border: 0px;
	 }
	&-group{
		margin: 0 auto;
		.num{
			input{
				width: 50px;
			}
		}
	 }
	&-general{
		font-size: @fontSize - 0.1;
		position: relative;
		[name='dia[]']{
			display:none;
		}
		tr{
			td{
				border: 1px solid @grey;
				cursor:pointer;
			}
		}
		.num{
			vertical-align: baseline;
			border:none;
			padding-top: 5px;
		}
	 }

	.disabled{
		color:#ff0000;
		&>input{
		    pointer-events: none;
			cursor: default;
			opacity: 0.6;
		}
	 }
	@media screen and (max-width: 560px) {
		.cod {
			width: 50px;
		}
		.opc{
			width: 60px;
		}
		.obs{
			display: none;
		}
		.tel{
			display: none;
		}
		.nom{
			width: 50%;
		}
	 }
 } 
.table{
	width: auto;
	margin: auto;
	
	*{
		display: inline-block;
		margin: 2px;
	}
	.tr{
		display: block;
	}
	.col1{
		width: 15%;
		text-align: right;
	}
	.col2{
		width: 60%;
		margin: auto;
	}
	.col3{
		width: 15%;
		text-align: left;
	}	
 }
.template {
	display :  none !important;
 }
.underline {	
	background-size: 1px 1em;
 }
.ui-state-hover{
	background-color:  @default_color_auxiliar;
 }
.parpadear {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
 }
.checkbox{
	cursor: pointer; 
	margin: 5px auto;
	*{
		vertical-align: middle;
	}
 } 
#crearCita{
	*{
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
	}
	.stepper {
		margin: auto;
		width: 90%;
		&:before,
		&:after {
			display: table;
			content: "";
		}
		&:after {
		clear: both;
		}
		& > ul {
			counter-reset: li;
			border-top: 1px #1d1d1d dotted;
			position: relative;
			padding: 0;
			margin: 30px 0;
			width: 100%;
			display: block;
			li {
				list-style: none;
				float: left;
				width: 2em;
				height: 2em;
				margin-top: -1.1em;
				position: absolute;
				left: 0;
				background: #666;
				cursor: pointer;
				font-size: .875rem;

				&:before {
					position:relative;
					top:2px;
					content: counter(li);
					counter-increment: li;
					box-sizing: border-box;
					padding: .3em 10px;
					color: #fff;
					font-weight: bold;
					font-size: .9em;
					text-align: center;
				}
				&.current,
				&.complete {
					transition: all 0.2s ease;
				}
			}
		}
		#step1 {
			margin-left: 45%;
			float: left;
		}
		#step2 {
			float: right;
			position: relative;
		}
	}
	ul#selagendas{ 
		text-align: center;
		li {
			display : inline;
		}	
	}

	.tablas{
		table{
			margin: 0 auto;
		}
		td{
			padding: 0 25px;
		}
	}
	#stepper1, #stepper2{
		display:none;
		}
	.contenedorServicios{
		margin: 20px auto;
		text-align: left;
		tr {
			display : none;
		}
	}
	.contUsers{
		margin: 20px auto;
		input, textarea{
			width:250px;
			display:block;
		}
		}
	.editando {
		display:none;
		}
	.ui-datepicker-inline{
		margin: auto;
	}
	#principal{
		display:none;
		}
	#secundaria{
		margin: auto;
		}
	#tSer{
		padding: 0 5px;
		}			
 }
.menu{
	font-size:@fontSize + 0.1;
	color: @grey;
	border-width: 1px 0 1px 0;
	border-style: double;
	text-align: center;
	select{
		width: 250px;
		margin: 1% auto;
		color: @grey ;
		text-align-last:center;
		text-align: center;
		border-style: none;
		text-indent: 5px;
		overflow: hidden;
			box-shadow: none;
	}
	ul{
		margin:0 auto;
		background-color:transparent;
		text-shadow:none;
	}
	a {
		cursor: pointer;
		margin-bottom: 10px;
		padding:1%;
		position: relative;
		line-height:35px;
		&:visited {
			color: @grey;
		}
		i{
			top: -10px;
		}

	}

	&-user{
		display: block;
		&>li{
			float:left;
		}

	}
	#mainLstABC{
			padding: 0;
		a{
			padding:5px;
			margin: 3% auto;
		}
	}
	@media (max-width: 770px) {
		margin: auto;
		font-size:@fontSize - 0.2 ;
	}
 }
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
 }
@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }
@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
 }
#loader { 
	cursor: inherit; 
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		cursor: inherit;
		font-size: 8rem;
		color:#fff;
	}
 }
#admin{ 
	background-color: #fff;
	#sections{
		padding: 5px;
		position: relative; 
		top: 50px;
		section { 
			display: none ; 
		 }
		#main{
			display: initial; 
			.tablas{
				width: 100%;
				.alFondo{
					font-size: 0.7em;
					float: left;
					left: -30; 
					position: relative;
					vertical-align: middle;
					top: 5.5px;
					color: #999; 
					z-index: 1;
				}
			 }
			.celda{
				.note{
					.icon{
						&-load{
							display : none ;
						}
						&-ok {
							display : none ;
						}
					}
					&:first-child{
						top: 50%;
						position: fixed;
					}
					[type=text]{
						height: inherit;
						margin: 0 auto;
						padding: 0;
						border: none;
						width: 80%;
						max-width: none;
						background-color: inherit;
					}
					.iconClass-container{
						text-align:left;
						.iconClass-inside{
							top:0;
							display:none;
						}
						.icon{
							&-ok{
								position: absolute;
								right: 0;
							}
							&-load{
								position: absolute;
								right: 0;
		
							}
						}
					}
				}
				&.fuera_horario,  &.fueras_horario{

					background-color: #ccc;
					border-color: #ddd;  
				}
			 }
			.dia {
				display:none;
				&.activa{
					display: block;
				}
			 }
			.icon{
				&-resize-full{
					visibility:hidden;
					text-align: right !important;
					float:right;
				}
				&-cancel{
					color: #ff0000;
				}
			 }
		
			.atenuado{
				background-color: #dddddd;
				color:#fff;
			 }
			 input.nombreagenda{
				border: none;
				text-align: center;
				&:active{
					text-decoration: none !important;
				}
			 }
			.lbl{  
				@whidth_table: 100% - 0.7px; 	
				position: absolute;
				z-index : 2 ;
				width: 90%;	
				padding : 4px 0 0 0;
				overflow : hidden;
				border : 1px solid;
				opacity: 0.8; 
				font-size: .9rem;
				@media (max-width: 450px){
					width: 99%;
					font-size: 0.8em;
				}
				.servicios {
					div{
						display : block ;
						margin-bottom: 10px;
						.no-seleccionable();
					}
				}
				.nombre { 
					margin : 0 0 10px 0;
					padding-right: 50px;
					height: 1rem;
					display: inline-flex;
					overflow: 	hidden;
					.no-seleccionable();
					@media (max-width: 450px){
						padding-right: 0;
					}
				}
				.iconos{
					position : absolute ;
					top : 3px ;
					right : 5px ;
					display: flex;
					background: inherit;
					@media (max-width: 450px){
						 *{ display: none; }
						 .fnMove{ display: initial} 					
					}
				}
				.note { 
					overflow : hidden;
					display: none;
					width: 100%;
					z-index: 0;
					.no-seleccionable();
				}
					/** bucle less no funciona en php lo edito con el compilador de enlinea
						@em : 19px ;
						@rem : 6px ; 
		
						.crear-rows(@len; @i: 2) when (@i =< @len) {
							.row_@{i} {
								height : @em * @i + @rem * (@i - 1) ;
							}
							
							.crear-rows(@len, @i + 1);
						}  
		
						.crear-rows(60);
					**/
						
					@em : 18px ;
					&.row_1 {
						height :  @em ;
					}
					
					&.width_{
						&1{
							width: @whidth_table;
						}
						&2{
							width: (@whidth_table/2);
						}
						&3{
							width: @whidth_table/3;
						}
						&4{
							width: @whidth_table/4;
						}
						&5{
							width: @whidth_table/5;
						}
						&6{
							width: @whidth_table/6;	
						}
						&7{
							width: @whidth_table/7;
						}
		
					}
			 }
			 #nota{
				margin: 1% 5% auto;
				width:90%;
				textarea{
				   margin: 0 10%;
				}
			}
		 }

		#festivos{
			.tablas{
				tr{
					text-align: center;
				}
				input{
					margin: 0;
					width: auto;
				}
				td{
					margin: auto;
					&:first-child{
						width: 10%;
						text-align: center;
					}
					&:last-child {
						margin: 0;
						padding: 0;
					}
				}
			}
		 }
		#config{
			.chck-container{
				display:inline-block;
				width: 77%;
				text-align: justify;
				@media (max-width: 800px){
					width: 90%;
				}
				
				@media (max-width: 340px){
				width: 100%;
				label{
					margin: 0.3rem;
					}
				}

				#minTime {
					display: inline;
				}
			}
		 } 
		#horarios{
			input, select { 
				padding-left: 2px; 
			}
			.lineaHorarios{
				margin: 5;
				.iconClass-container{
					width: 115px ;
				}
				input[type=checkbox]{
					top: 6px;
				}
				@media (max-width: 450px){
					display: inline-grid;
					border: 1px solid #999;
					border-radius: 12PX;
					padding: 12px;
				}
			}
			table tr td {
				padding: 2px;
				*{ 
					display: inline;
				}
				select {
					background-color: @base;
				}
				.horas, .minutos{
					width: 3.5rem;
				}
			}
			
		 }
		#historial{
			a[class*='icon-']{
				
				&:hover{
					color: inherit;
					cursor: inherit;
				}
			}
			table{
				th{
					&:nth-child(1n){
						width: 5ch;
						@media (max-width: 340px){ display: none; }	
					}
					&:nth-child(2n){
						width: 4ch;
					}
					&:nth-child(3n){
						width: 18ch;
					}
					&:nth-child(4n){
						width: 20ch;
						@media (max-width: 340px){ display: none; }
					}
					&:nth-child(5n){
						width: auto;
					}
					&:nth-child(6n){
						width: 4ch;
						@media (max-width: 340px){ display: none; }
					}
				}
			}
		 }
		#notas{
			display: none;
			.nota{
				width: fit-content;
				min-width: 13ch;
				padding: 20px;
				text-align: left;
				max-width: 320px;
				margin: 10px;
				float: left;
				transform: all 1s; 
				cursor: pointer;
				i{
					margin-right: 5px;
					
					&.fnDel{
						cursor: pointer;
						font-size: 1.3em;
						position: relative;
						top: -31px;
						float: right;
						left: 37px;
						background-color: #fff;
						border-radius: 50px;
					}
				}
				.contenido{
					margin-top: 1ch;
				}
			}
			#nuevaNota{
				width: 100px; 
				height: 100px;
				border: 1px solid #888; 
				color: #888;
				text-align: center;
				vertical-align: middle;
				float:left;
				padding: 20px;
				opacity: 0.6;
				margin: 10px;
				cursor: pointer;
			
				i{
					font-size: 70px;
				}
				&:active{
					border-width: 2px;
				}
			}
		 }
		#usuarios{
			.encabezado{
				margin: 10px auto;
			}
			.cuerpo{
				top:3rem;
				@media (max-width: 425px){
				top:45px;
				}
				.tablas{
					.tileName { 
						width: 25%;
					}
					.tileTel{
						width: 12ch;
					}
					.tileId{
						width: 6ch;
					}
					.tileOpc{
						width: 6ch;
					}
					.tileEmail{
						width: 25%;
					}
					.tileObs{
						width: 3ch; 
					}
					.tileAdmin{
						width: 3ch;
					}
				}
				tr:not(:first-of-type){
					display : none;
				}
			}
			#popupHistorial{
				.tabla{
					width:100%;
					.encabezado {
						margin: 5px;
						td{
							border: none;
							text-decoration: underline;
							font-size: @fontSize;
						}
					}
				}
			}
		 }
		#servicios{
			.capaServicios{
				display: none;
			}
			.cuerpo{
				top: 60px;
			}
			table{
				thead{
					.tileDes{
						width: 65%;
					}
					.tileOpc{
						width: 10%; 
					}
					.tileCod {
						width: 15%;
					}
					.tileTiemp{
						width: 10%;
					}
				}
			}
			tbody{
				tr{
					display:none;
				}
			}
		
			@media (max-width: 590px){
				#lstSerSelect{
					width:100%
				}
			}
		 }
		#agendas{
			.contenedor-agenda{
				margin: 5px; 
				padding: 5px;
				height: 40px;
				*{
					display: inline;
				}
				input{ 
					padding-left: 1ch;
					opacity: .9;
					&[type=checkbox] {
						transform: scale(1.5);
					 }
				}
			}
			.btn-nuevo{
				display: flex; 
				align-items: center;
				border: 1px solid #888; 
				color: #888 !important;
				background-color: #fdfdfd !important;
				*{ padding: 10px } 
				&:active, &:hover{
					border-width: 2px !important;
					*{
						cursor: pointer;
					}
				}
			}
		 }
	 }

 }
#dialogs{
	#dlgHistorial{
		max-height: 50%;
		overflow:scroll;
	}
	#dlgGuardar{
		.resaltado{
			display: inherit; 
			margin: 5px 0 0 10px ;
		}
	}
 }
#estilos {
	& > div  {
		margin : 10px ;
	}
 } 
#frmNotas{
	text-align: center;
 }
#frameSocialMedia{
	
	button{
		display: block;
		cursor: pointer;
		color:#fff;
	}
	hr{
	    border: 0;
		height: 1px;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.tile{
		position: relative;
		top: 10px;
		padding: 10px;
		text-align: center;
		margin: auto;

	}
	.facebook{
		@colorFacebook: #3B5998;
		background-color:  @colorFacebook;
		border: 1px solid @colorFacebook;
		&:hover{
			border: solid 2px @colorFacebook;
		}
	}
	.google{
		@colorGoogle: #dd5044;
		background-color:  @colorGoogle;
		border: 1px solid @colorGoogle;
		&:hover{
			border: solid 2px @colorGoogle;
		}
	}
 }
#mnuContacto{
	display:none;
	a{
		display: block;
		font-size:1.2em;
	}
	hr{
		margin: 2rem 0;
	}
	textarea{
		height:auto;
	}
 }
#navbar{
	background-image: url("/img/fondo_barra.png");
	display: block;
  width: 100%;
	height: 50px;
	position: fixed;
	z-index:2000;
	padding: 0 ;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	overflow: hidden;
	#boton-menu{
		display: inline-flex;
		z-index: 2200;
		position: fixed;
		top: 8px;
		left: 10px;
		font-size: 22px;
		padding: 5px; 
		&:hover{
			background:rgb(0,0,0,0.5);
		}
		@media (max-width: 425px){
			left: 5px;
		}
	 }
	&:before, &:after {
		display: table;
		content: "";
	 }
	&:after {
		clear: both;
	 }
	*{
		 vertical-align: top;
	 }
	ul{
		border: none;
	}
	a{
		text-decoration: none;
		*{
			font-size: 20px;
    		vertical-align: sub;
		}
	}
	h1{
		display: inline-flex;
		width: 200;
	}
	li{
		width: 50px;
		text-align: center;	
		*, *:hover, *:active{
			background-color: transparent;
		}
			
	}
	.menuLbl{
		display: inline-table;
	}
	.icono-nav{
		text-align: center;
		width: 25px;
		@media (max-width: 768px){
			width: 50px;
			height: 50;
		}
	}
	.app-bar-menu {
		display: inline-block;
		float: left;
		li{
			padding: 0;
			line-height: 3.125rem;
			cursor: pointer;
			color: inherit;
			display: block;
			float: left;
			position: relative;
			a, i{
				width: 90%;
				padding: 0 0 0 10px;
				margin-right: 10px;
			}
			&:after{
				clear: both;
			 }
			.dropdown-toggle{
				padding-right: 1.5rem;
				&.active-toggle{
					&:before{
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
				&:before{
					display: block;
				}
			 }
		}
		@media (max-width: 450px){
			padding: 3px 0;
		}
	 }
	.app-bar-pullmenu .app-bar-menu {
		width: 100%;	
		position: relative;
		float: none;
		display: none;
		z-index: 1000 1;
		
		clear: both;
	
		li {
			width: 100%;
			float: none;
			height: auto;
			a {
				float: none;
			}
		}

	 }
	.app-bar-drop-container {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 10px;
		border: 2px solid #005696;
		background: #ffffff;
		&:before {
			z-index: 0;
			content: '';
			position: absolute;
			background-color: #ffffff;
			width: 10px;
			height: 10px;
			border: 2px #005696 solid;
			top: 1px;
			left: 1rem;
			margin: -8px 0;
			border-bottom: none;
			border-right: none;
			-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
		 }
		.place-right {
			right: 0;
			left: auto;
			&:before{
				left: auto;
				right: 1rem;
			}
			&:before, &:after{
				display: table;
				content: "";
			}
		 }
  	 }
	.image-button {
		margin: 0;
		background-color: transparent;
		color: #ffffff;
		font-size: inherit;
		img.icon{
			padding: 0;
		}
	 }	
	.app-bar-pullbutton {
		line-height: 3.125rem;
		padding: 0 .625rem;
		font-size: 1rem;
		cursor: pointer;
		color: inherit;
		display: block;
		float: left;
		position: relative;
		height: 3.125rem;
		float: left;
		&.branding {
			padding-left: 1rem;
			padding-right: 1rem;
		 }

		&:before  {
			font-family: "iconos";
			display: table;
			content: '\f008';
			
		 }
		&:after{
			clear: both;
		 }
	 }
	#conTxtBuscar{
		background-image: url("/img/fondo_barra.png");
		display:none;
		position:fixed;
		width: 100%;
		height: 50px;
		z-index: 1001;
		top: 0; 
		background-position-x: -70px;
		left: 140px;
		@media (max-width: 425px){
			background-position-x: 70px;
			left: 75px;
		}
		input{
			border: none;
			width: 350px;
			margin: 10px 20px auto;
			float: left;
			padding-left: 20px;
			@media (max-width: 425px){
				width:210px;
				margin-left: 10px;
			}
		}
	 }
	.menuNull{
		display:none !important;
		width:40px;
		padding: 0 18px;
		@media screen and (max-width: 590px) {display:block !important;}
		@media screen and (max-width: 320px) {display:none !important;}
	 } 
	.branding{
		@media screen and (max-width: 800px) {
			width:50px;
		}
		@media screen and (max-width: 450px) {
			display: none;
		}
	 }
	.selected {
		.caption {
			background-size: 1px 1em;
			display: inline;
		}
	 }
	&-drop-container{
		margin: 5px;
		@media screen and (max-width: 325px) {
			width:300px !important;
			right:-48px !important;
			&:before{
				margin: -9px 41px !important;
			}
		}

		&:before{
			border-bottom: none;
			border-right: none;
		}
		.text-light{
			padding-left:5px;
		}
	 }
	&-divider{
		display: block;
		float: left;
		line-height: 3.125rem;
		height: 3.125rem;
		width: 1px;
		padding: 0;
		@media screen and (max-width: 560px) {
			height: 55px;
		}
	 }
	&-pullmenu{
		display: none;
	    text-align: left !important;

	 }
	.input-control{
		width: 230px ;
	 }
	#btnOptions{ 
		ul{
			width: 320px !important;
		}
	 }
	 
	.contenedor-datepicker{
			position: absolute;
			height: 40px;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			text-align: center;
			width: 100%;
			max-width: 280px;
		i{
			position: absolute;
			padding: 2.5ch;
			display: inline-flex;
			color: #888;
			z-index:10;
			top:-10px;
		}
		.icon-right-open{
			right: 0;
		}
		.icon-left-open{
			left: 0;
		}
		.datepicker{
			text-align:center;
			font-size: 1.1em;
			width: 100%;
		}
		@media (max-width: 425px){
			max-width: 210px; 
			margin: auto ;
		}
		@media (max-width: 375px){
			max-width: 180px;
				i{ padding: 2ch 0.5ch; }
		}
		@media (max-width: 340px){
			max-width: 115px;
		}
	}
	.app-bar-element {
		display: inline-flex;
		line-height: 3.125rem;
		cursor: pointer;
		*{
			margin: 0 2px;
		}
		&:after {
			clear: both;
		 }
		.input-control{
			&.text, &.password{
				margin-top: .55rem;
				font-size: .875rem;
				line-height: 1.8rem;
				display: block;
				input{
					border-color: transparent;
				}
			}
		 }
		.button{
			margin-top: -0.15rem;
		 }
		@media (max-width: 450px){
			span{
				display: none;
			}
		}

	 }
	#tools{
		margin-left: 50px;

		.app-bar-element{
			display: none;
			padding: 0 10px;
			//inicio main activado mostrar
			&#btnShow{
				display: inline-table;
			}
			@media (max-width: 350px){
				padding: 0;
			}
		}
	}
	#logo{
		float: left;
		border: 1px solid; 
	}
	#lblUser{
		padding-left: 12px;
	}
 }
#users{
	background-color: #fff;
	height: 100vh;
	.contenedor-datepicker{
		display: inline-flex;
		margin: 8 14;
		text-align: center;
		width: 100%;
		max-width: 358px;
		opacity: 0.5;
		i{
			position: relative;
			display: inline-flex;
			color: #888;
			z-index:10;
			top:9px;
		}
		.icon-right-open{
			left: 87%;
		}
		.icon-left-open{
			left: 46px;	
		}
		.datepicker{
			text-align:center;
			font-size: 1.1em;
			width: 100%;
		}
		@media (max-width: 425px){
			max-width: 210; 
			margin: 8 0 ;
			.icon-right-open {
				left: 79%;	
			}
		}
	}
	.user-select-none(){
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	 }
	section{
		&[class*='tile']{
			transition: all 1s;
		}
		&.tile-active{
			width: 100% !important; 
			height: auto !important;
		}
	 }
	.tile-container{
		@alto:186.5px; 
		@espacio: 6px; 
		@font-icon: 64px; 

		width:100%;
		height:auto;
		display:block;
		margin:0 @espacio*-1 0 @espacio*-1;
		padding:0;
		padding-top:@espacio;

		.icon-edit {
			color : #fff;
		}
		a{
			color: #fff;
			&:hover{
				color: #fff;
			}
		}
		&:after,&:before{
			display:table;
			content:"";
		}
		&:after {
		  clear: both;
		}
		.tile{
			display:block;
			color : #fff;
			cursor: pointer;
			width: @alto;
			height:@alto;
			float:left;
			margin:@espacio;
			position:relative;
			 
			@media (max-width: 370px){
				width: 100% !important;
				height: 120px;	
			}
			
			&-label {
				position: absolute;
				bottom: 0;
				left: .625rem;
				padding: .425rem .25rem;
				z-index: 100;
			}
			&-badge {
				color : #fff;
				position: absolute;
				bottom: 0;
				right: .625rem;
				padding: .25rem .625rem;
				z-index: 99;
			}
			&-wide{
				color : #fff;
				width: @alto*2 + @espacio;
				height: @alto;
				margin:@espacio;
				display: block;
				float: left;
				cursor: pointer;
				position: relative;
				overflow: hidden;
				.user-select-none();
				overflow: visible;
				@media (max-width: 350px){
					width: 120px;
					height: 120px;		
				}
			}
			&-small{
				color : #fff;
				width: @alto/1.9;
				height: @alto/1.9;
				margin:@espacio;
				display: block;
				float: left;
				cursor: pointer;
				position: relative;
				overflow: hidden;
				.user-select-none();
				overflow: visible;
				.tile-content .icon{
					position: absolute;
					width: @font-icon/1.5;
					height: @font-icon/1.5;
					font-size: @font-icon/1.5;
					top: 50%;
					margin-top: -24px;
					left: 50%;
					margin-left: -32px;
					text-align: center;
				}
			}

			&-content{

				height: inherit;
				width: 100%;
				left: 0;
				top: 0;
				overflow: hidden;
				h1{
					margin: 0;
				}
				.mensaje{
					display:block;
				}
				.contenido{
					display: none;
					position:relative;
					.subCon2{
						display: none;
					}
				}
				 .icon{
					position: absolute;
					width: @font-icon;
					height: @font-icon;
					font-size: @font-icon;
					top: 50%;
					margin-top: -40px;
					left: 50%;
					margin-left: -32px;
					text-align: center;
				}
				&:first-child {
					display: block;
				}
			}
			#lstSerMain{
				a{
					color: @font-color;
				}
			}
			#stepper2{
				text-align: center;
			}
		}
		
	}
	#lineasHistorial{ 
		margin-top: 5px;
		*{
			display: block;
		}
		
		&:after{
			//Limpia el float
			clear: both;
			content: "";
			display: block;
		 }
	}
	.cita{
		border: 1px solid;
		padding: 12px;
		width: fit-content;
		text-align: left;
		float: left;
		margin: 1ch;
		.del{
			cursor: pointer;
			font-size: 1.3em;
			position: relative;
			top: -23px;
			float: right;
			left: 23px;
			background-color: #fff;
			border-radius: 50px;
			&:hover{
				color: @default_color_auxiliar;
			}
		}
		.servicios{
			padding: 5px;	
		}
			
	}
	#mnuDatosPersonales{
		display: none;
	}
	#contenedorMenuPrincipal{
		top:50px;
		position:relative;
	 }
 }
#historial{

	input.cancelar{ 
		margin: 5px;
	}
	table{
		th.idUsuario{
			    width: 30%;
		}
	}
 }
.ui-datepicker{

	&-inline{
		border-width :0px ;
		display: inline ;
	}
	td a{height: 30px;}
	@media (max-width: 320px){
		width: 90%;
	}
}
.ui-widget-content .ui-corner-all {
	font-family: 'iconos';
	.ui-datepicker-next .ui-icon{	
		&:before { content: '\e80e'; }
		text-align: center;		
	}
	.ui-datepicker-prev .ui-icon{
		&:before { content: '\e80d'; }
		text-align: center;
	}
}
 
// Auxiliares
.noHover{
	cursor: inherit;
 }
.no-seleccionable(){
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 }
.inline{
	display: inline-block; 
 }
.template {
	display :  none !important;
 }	
.show{
	display: initial !important;
}
/* The side navigation menu */
.sidenav {
	background-image: url(/img/fondo_barra.png);
	background-size: cover;
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2001; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
   
	font-weight: 100;
	transition: 0.5s;
	li{
		padding: 5px 0;
		&:last-child{
			border-bottom:  0px;
		}
	 }
	a {
		margin: auto;
		padding: 8px ;
		text-decoration: none;
		display: block;
		width: 130px;
		font-size: @font-size-menu;
		transition: all 0.3s;
		transform: translate(-2px,0);
		&:hover, &.selected {
			transform: translate(3px);
			font-weight: 800;
		 }
		.caption{
			font-size: 14px;
			vertical-align: middle;
			margin: 0 0 0 8px;
		 }
		*{
			vertical-align: middle;
		 }
	 }
		.d-menu { 
			transform: translate(2px);
			font-size: .9em;
			display: none;		
			li {
				a {
					padding-left: 22px;
					*{
						display: table-cell;
						font-size: 12px;
						position: relative;
					}
					.caption{
						padding-left: 12px;
						font-size: @font-size-menu - 5px;
					}
				}
				
				
			}
			
		}
		.hay-nota {
			border: 1px solid;
			background: red;
		}
	}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.tabcontrol {
  position: relative;
  width: 100%;
	.tabs {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none inside;
		white-space: nowrap;
		overflow: visible;
	}
	.tabs:before,
	.tabs:after {
		display: table;
		content: "";
	}
	.tabs:after {
		clear: both;
	}
	.tabs li {
		display: block;
		float: left;
		position: relative;
		white-space: nowrap;
		a {
		display: block;
		float: left;
		padding: 8px 24px;
		color: #1d1d1d;
		font-size: .6875rem;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		white-space: nowrap;
		}
		&:hover a {
			background-color: #eeeeee;
		}
		
	}
}
/*SWITCH*/
.switch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 11px;
}
.switch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.switch-inner:before, .switch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.switch-inner:before {
    content: "ON";
    padding-left: 7px;
    color: #FFFFFF;
}
.switch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.switch-switch {
    display: block; width: 13px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #999999; border-radius: 11px;
    transition: all 0.3s ease-in 0s; 
}
.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}
html{
	@media (max-width: 450px){
		font-size: 0.8em;
		i{
			font-size: 1.2em;
		}
	}
}

.row_2 {
  height: 43px;
}
.row_3 {
  height: 67px;
}
.row_4 {
  height: 91px;
}
.row_5 {
  height: 115px;
}
.row_6 {
  height: 139px;
}
.row_7 {
  height: 163px;
}
.row_8 {
  height: 187px;
}
.row_9 {
  height: 211px;
}
.row_10 {
  height: 235px;
}
.row_11 {
  height: 259px;
}
.row_12 {
  height: 283px;
}
.row_13 {
  height: 307px;
}
.row_14 {
  height: 331px;
}
.row_15 {
  height: 355px;
}
.row_16 {
  height: 379px;
}
.row_17 {
  height: 403px;
}
.row_18 {
  height: 427px;
}
.row_19 {
  height: 451px;
}
.row_20 {
  height: 475px;
}
.row_21 {
  height: 499px;
}
.row_22 {
  height: 523px;
}
.row_23 {
  height: 547px;
}
.row_24 {
  height: 571px;
}
.row_25 {
  height: 595px;
}
.row_26 {
  height: 619px;
}
.row_27 {
  height: 643px;
}
.row_28 {
  height: 667px;
}
.row_29 {
  height: 691px;
}
.row_30 {
  height: 715px;
}
.row_31 {
  height: 739px;
}
.row_32 {
  height: 763px;
}
.row_33 {
  height: 787px;
}
.row_34 {
  height: 811px;
}
.row_35 {
  height: 835px;
}
.row_36 {
  height: 859px;
}
.row_37 {
  height: 883px;
}
.row_38 {
  height: 907px;
}
.row_39 {
  height: 931px;
}
.row_40 {
  height: 955px;
}
.row_41 {
  height: 979px;
}
.row_42 {
  height: 1003px;
}
.row_43 {
  height: 1027px;
}
.row_44 {
  height: 1051px;
}
.row_45 {
  height: 1075px;
}
.row_46 {
  height: 1099px;
}
.row_47 {
  height: 1123px;
}
.row_48 {
  height: 1147px;
}
.row_49 {
  height: 1171px;
}
.row_50 {
  height: 1195px;
}
.row_51 {
  height: 1219px;
}
.row_52 {
  height: 1243px;
}
.row_53 {
  height: 1267px;
}
.row_54 {
  height: 1291px;
}
.row_55 {
  height: 1315px;
}
.row_56 {
  height: 1339px;
}
.row_57 {
  height: 1363px;
}
.row_58 {
  height: 1387px;
}
.row_59 {
  height: 1411px;
}
.row_60 {
  height: 1435px;
}
.row_2 {
  height: 44px;
}
.row_3 {
  height: 69px;
}
.row_4 {
  height: 94px;
}
.row_5 {
  height: 119px;
}
.row_6 {
  height: 144px;
}
.row_7 {
  height: 169px;
}
.row_8 {
  height: 194px;
}
.row_9 {
  height: 219px;
}
.row_10 {
  height: 244px;
}
.row_11 {
  height: 269px;
}
.row_12 {
  height: 294px;
}
.row_13 {
  height: 319px;
}
.row_14 {
  height: 344px;
}
.row_15 {
  height: 369px;
}
.row_16 {
  height: 394px;
}
.row_17 {
  height: 419px;
}
.row_18 {
  height: 444px;
}
.row_19 {
  height: 469px;
}
.row_20 {
  height: 494px;
}
.row_21 {
  height: 519px;
}
.row_22 {
  height: 544px;
}
.row_23 {
  height: 569px;
}
.row_24 {
  height: 594px;
}
.row_25 {
  height: 619px;
}
.row_26 {
  height: 644px;
}
.row_27 {
  height: 669px;
}
.row_28 {
  height: 694px;
}
.row_29 {
  height: 719px;
}
.row_30 {
  height: 744px;
}
.row_31 {
  height: 769px;
}
.row_32 {
  height: 794px;
}
.row_33 {
  height: 819px;
}
.row_34 {
  height: 844px;
}
.row_35 {
  height: 869px;
}
.row_36 {
  height: 894px;
}
.row_37 {
  height: 919px;
}
.row_38 {
  height: 944px;
}
.row_39 {
  height: 969px;
}
.row_40 {
  height: 994px;
}
.row_41 {
  height: 1019px;
}
.row_42 {
  height: 1044px;
}
.row_43 {
  height: 1069px;
}
.row_44 {
  height: 1094px;
}
.row_45 {
  height: 1119px;
}
.row_46 {
  height: 1144px;
}
.row_47 {
  height: 1169px;
}
.row_48 {
  height: 1194px;
}
.row_49 {
  height: 1219px;
}
.row_50 {
  height: 1244px;
}
.row_51 {
  height: 1269px;
}
.row_52 {
  height: 1294px;
}
.row_53 {
  height: 1319px;
}
.row_54 {
  height: 1344px;
}
.row_55 {
  height: 1369px;
}
.row_56 {
  height: 1394px;
}
.row_57 {
  height: 1419px;
}
.row_58 {
  height: 1444px;
}
.row_59 {
  height: 1469px;
}
.row_60 {
  height: 1494px;
}
