@default_color: #48c188;
@default_color_auxiliar: #ff8000;
@grey:#8a8a7b;
@grey-bg:#ddd;
@text-icon: #aaa;
@font-color: #222; 
@fontSize: 16px;
@font-size-menu: 20px; 
@base: #fff; 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
	font: inherit;
    vertical-align: baseline;
 }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
	margin: 0;
	padding: 0;
	border:none;
	outline:none;
	text-decoration:none;
 }
ol, ul {
    list-style: none;
 }
blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
 }
input :-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
 }
::-webkit-scrollbar{
	display: none
 }
ul li, ol li {
    line-height: 1.25rem;
 }
body{
   line-height: 1;
	box-sizing: border-box;
	overflow-x: hidden;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&.background {
		@media (min-width: 800px){
			background-image: url("/img/background.jpg")
		}
	}

	@media screen and (max-width: 590px) {
		margin:0 auto;
	}

 }
p{	margin: 10px; }
img{
    border: 0;
 }
h1{
	display: block;
	margin: 10px auto;
	font-weight: normal;
	text-align: center;
	span{
		font-size:inherit
	 }
 }
h2{
	margin: 5px;
	line-height: 40px;
	color: #555;
	text-align: center;
	font-size: @fontSize + 0.2;
	@media screen and (max-width: 350px){
		font-size: 1em;
	}
 }
h3{
	margin: 5px;
 }
h4{
	display : block ;
	margin: 15px;
 }
hr{	
	margin: 5px auto 10px auto;

 }
thead{
	th{
		text-decoration : underline ; 
		&:focus, &:hover, &:active{
			text-decoration: none;
		}
		height: 1.1em;
	}

 }
[class*="icon-"], [class*="lnr-"]{
	cursor: pointer;
 }

a, i, .a{
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: background 0.1s;
	-moz-transition: background 0.1s;
	-o-transition: background 0.1s;
	transition: background 0.1s;
	&:-webkit-any-link { color:@base}
 }

input, button, select, textarea {
	width: 100%;
	height: 35px;
	max-width: 310px;
	margin: auto;
	//padding: 0px  2px 0px 10px;
	display: block;

	&.short{
		width: 45%;
	}
 }
table {
	.mostrar_baja{
		display:table-row;
	 }
 }
textarea{
	padding: 7px 5px;
	height: 150px;
 }
input[type="radio"], [type="checkbox"]{
	display: inline-block;
	width: 22px;
	position: relative;
	margin: 0 5px;
	height: auto;
	margin: 5px;
    vertical-align: sub;
  
 }
input[type="color"] {
	display: inline-block;
	width: 30px;
	height: 20px;
 }
 button{
	 &.btn-success{
		 margin: 5px auto;
	 }
 }
.animate-spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	display: inline-block;
   }
   @-moz-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
  @-webkit-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
  @-o-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
  @-ms-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
  @keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -moz-transform: rotate(359deg);
	  -o-transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
   }
.aling{
	&-left{text-align: left !important;}
	&-right{
		text-align: right !important;
		float:right;
	}
	&-center{
		text-align: center;
		margin: 0 auto;
		input[type=submit], input[type=button]{
			margin: 10px;
		}
		tr{
			text-align: left;
			margin: 0 30%;
		}
	}
 }
.center {
	text-align :  center ;
 }
.cabecera{
	position:fixed;
	top:50px;
	left: 0;
	width: 100%;
	background-color:#fff;
	z-index:1000;
	@media screen and (max-width: 320px) {
		padding-left:0;
		padding-right:0;
	}
	&-content{
		position:relative;
		margin: auto;
		max-width: 800px;
	}
 }
.caption{
	font-size: 0.8em;
 }
 .charm{
	border-radius: 5px;
	width:340px;
  }

.cuerpo{
	position:absolute;
	min-height: 500px;
	&.center {
		position: inherit ;
		display : inline-blocK ;
	}
 }
.dialog{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	display:none;
	width: 320px;
    margin: 55px auto; 
	padding: 20px;
	line-height: 1.5em;
    z-index: 1050;
	text-align:center;
	table{
		width : 100%;
		thead{
			font-size: 0.8em; 
		}
	}
	.icon-cancel{
	    color: #777777;
		float: right;
		top: -15px;
		position: relative;
		right: -10px;
	 }
	#tblGuardarCita{
		margin:auto;
		border-collapse: separate;
		border-spacing: 5px;
	 }
	button, input{
		margin: 0 auto;
	    margin-top: 10px;
	 }
	label{
		display: block;
		text-align: left;
		margin-left: 15px;
	 }
	.lst{
		text-align: left;
    	margin-left: 26px;
	 }
	#codigos{
		div{
			display : block ;
		}
	 }
	.iconClass-container{
		.caption{
			width: 50%;
		}
		input[type="checkbox"],input[type="radio"]{
			float: left; 
		} 
	}
	#contenedor-historial{
		text-align: justify;
		&>div{
			margin: 3px auto; 
			display: block;
		}
	}
	@media (max-width: 320px){
		width:auto;
		.iconClass-container{
			width:auto;
			&.icon-left{
				.iconClass-inside{
					left: 10px;
				}			
			}
		}
	 }
 }
.disabled, .ocultar_baja{
	display:none !important;
 }
.display-inline-flex{
	margin: 0 auto;
	width: 60%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
 }
.dropdown-toggle{
  	position: relative;
  	cursor: pointer;
   	&:before {
		display: block;
		position: absolute;
		color: @base;
		font-size: 0;
		content: "";
		height: 5px;
		width: 5px;
		background-color: transparent;
		border-left: 1px solid;
		border-bottom: 1px solid;
		top: 50%;
		left: 100%;
		margin-left: -10px;
		margin-top: -0.1625rem;
		z-index: 2;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
 }
.hidden{
	display:none;
 }
.icon{
	&-attention{
		color:#ff0000;
		display:none;
	 }
	&Class{
		&-container{
			padding: 0;
			margin: 0 auto;
			vertical-align: middle;
			position:sticky;
			text-align:center;
			width: 310px;
			*{
				box-sizing: border-box;
			}
			.caption{
				float: left;
				margin-bottom: 4px;
				font-size: 0.8rem;
				padding-left: 8px;
			}
			input, select, textarea{
				padding-left: 2rem;
				position: relative;
				background-color: @base;
			}
			input[type="color"]{
				padding-left: 0;
				width: 50%;
			}
			.iconClass-inside{
				color: @text-icon;
				right: 10px;
				&:first-of-type{
					width: 10px;
					left: 5px;
				}
				&.icon-note{
					bottom : 142px;
				}
			}
			&.checkbox{
				float: left;
				margin-left: 5px;
				text-align: left;
			}
		 }
		&-inside{
			color: @grey;
			display: flex;
			width: 2ch;
			font-size: @fontSize;
			font-weight: normal;
			line-height: 20px;
			text-align: center;
			position:relative;
			bottom:25px;
			z-index:2;
			cursor: initial;
			margin: 0;

		 }
	 }
	&-eye, &-cancel-circled2, &-trash{
		cursor: pointer;
		&:hover{
			color : @default_color_auxiliar;
		}
	 }
	&-left{
		left: 1ch
	}
	&-right{
		right: 1ch
	}
 }
.input{
	&-control{
		display: inline-block;
		min-height: 2.125rem;
		height: 2.125rem;
		position: relative;
		vertical-align: middle;
		margin: .325rem;
		line-height: 1;
		height: inherit;
		.prepend-icon{
			top: 50% !important;
		}
		input{
			width:95%;
		}
	}
	&-control{
		height: inherit;
	}
	&-button{
		//left: 10%;
		position:relative;
		//display:flex;
		width:380px;
		padding:5px;
		margin:10px auto;
		position: relative;
		@media (max-width: 325px){
			right: 4.5rem;
		}
		input, select{
			z-index:0;
			margin: 0;
			padding: 0 0 0 5px ;
			width: 100%;
			&:focus{
				outline: 0;
			}
		}
		.buttons{
			display: flex;
			z-index:2;
			float: right;
			 &-square{
				overflow: visible;
				float: right;
				margin: 0;
				padding: 0;
				cursor: pointer;
				height: 32px;
				width: 32px;
				text-transform: uppercase;

				&::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
					border: 0;
					padding: 0;
				}
			}
		}
	}
 }
.invalid{
	border-color: #ff0000 ;
 }
.lbl{  
	@whidth_table: 100% - 0.7px; 	
	position: absolute;
	z-index : 2 ;
	width: 90%;	
	padding : 4px 0 0 0;
	overflow : hidden;
	border : 1px solid;
	opacity: 0.7; 
	div.nombre{
		font-size: 1em;
		margin : 0 0 10px 0;	
	 
	 }
	.servicios {
		div{
			display : block ;
			margin-bottom: 9px;
		}
	 }
	.nombre { 
		padding-right: 50px;
		height: 0.9rem;
		display: inline-block;
		overflow: 	hidden;
	 }
	.iconos{
		position : absolute ;
		top : 3px ;
		right : 5px ;
		display: flex;
		background: inherit;

	 }

	.note { 
		overflow : hidden;
		display: none;
		width: 100%;
	 }
	@media (max-width: 450px){
		width: 99%;
	}
	 
/** bucle less no funciona en php lo edito con el compilador de enlinea
	@em : 19px ;
	@rem : 5px ; 

	.crear-rows(@len; @i: 2) when (@i =< @len) {
		.row_@{i} {
			height : @em * @i + @rem * (@i - 1) ;
		}
		
		.crear-rows(@len, @i + 1);
	}  

	.crear-rows(60);
**/

	@em : 16px ;
	&.row_1 {
		height :  @em ;
		.nombre{
			display:none;
		}
		&.width_6 .icons_crud{
			display: none;
		}
	 }

	&.width_{
		&1{
			width: @whidth_table;
		 }
		&2{
			width: (@whidth_table/2);
		 }
		&3{
			width: @whidth_table/3;
		 }
		&4{
			width: @whidth_table/4;
		 }
		&5{
			width: @whidth_table/5;
		 }
		&6{
			width: @whidth_table/6;	
		 }
		&7{
			width: @whidth_table/7;
		 }

	}
 }
.link{
	color: #0000ff;
	text-decoration: underline;
 }
.load{
	margin: 50px auto;
 }
.login{
	margin: auto;
	padding: 0;
	padding-top:10px;
	position:relative;
	width: 90%;
	text-align:center;
	&-form {
		border:	1px solid #bbbbbb;
		text-align:center;
		width: 350px;
		margin: auto;
		margin-top:20px;
		background-color: #ffffff;
		section {
			height: 100%;
		}
		.submit{
			position: absolute;
			bottom: 0;
			width: 98%;
		}
		@media screen and (max-width: 590px) {

			text-align:center;
			width: auto;
			position: inherit;
			top: auto;
			margin-top: 0;
			left: auto;
			margin-left: 0;
			margin: auto;
			border: none;
		}
		@media screen and (max-width: 320px) {
			padding: 20px 0;
		}
		p{
			margin: 10px auto;
		}
	 }
	.form{
		text-align:left;
		label {
			display: inline-block;
			width: 30%;
			padding-right: 20px;
		}
	 }

	input[type=image]{
		cursor: pointer ;
	 }
	 &-help{
		font-size: 0.9em;
	
		margin: 20px 0;
		color: #0081a6;
		text-align: center;
		a {
		  text-decoration: none;
			:hover {
			  text-decoration: underline;
			}
		}
	}

	@media screen and (max-width: 490px) {
		top: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		border: none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius: 0;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
		-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		
		input[type="radio"], [type="checkbox"] {
			transform:scale(1.5,1.5);
		}
	}
 }
.menu{
	width: 100%;
	padding: 0;
	margin:5px auto;
	font-size:@fontSize + 0.1;
	color: @grey;
	text-align: center;
	border-width: 1px 0 1px 0;
	border-style: double;
	select{
		width: 250px;
		margin: 1% auto;
		color: @grey ;
		text-align-last:center;
		text-align: center;
		font-size:@fontSize;
		border-style: none;
		text-indent: 5px;
		overflow: hidden;
		 box-shadow: none;
	}
	ul{
		margin:0 auto;
		background-color:transparent;
		text-shadow:none;
	}
	a {
		cursor: pointer;
		margin-bottom: 10px;
		padding:1%;
		position: relative;
		line-height:35px;
		&:visited {
			color: @grey;
		}
		i{
			top: -10px;
		}

	}

	&-user{
		display: block;
		&>li{
			float:left;
		}

	}
	#mainLstABC{
			padding: 0;
		a{
			padding:5px;
			margin: 3% auto;
		}
	}
	@media (max-width: 770px) {
		margin: auto;
		font-size:@fontSize - 0.2 ;
	}
 }
.mostrar_baja{
	display:initial;
 }
 .mostrar{
	 display: table-row;
 }
 .ocultar{
	 display: none; 
 } 
.navigation{
  width: 15em;
  right: -15em;
  position: absolute;
  overflow: hidden;
  display: block;
  height: 10000%;
  background-color: #000;
  li{
	display:block;
  }
 }
.notify{
	&-container{
		position: fixed;
		top: 0;
		right: 0;
		width: auto;
		z-index: 5000;
	}
 }
.padding{
	&0{padding:0  !important;}
	&5{padding:5px  !important;}
	&10{padding:10px  !important;}
	&20{padding:20px  !important;}
	&30{padding:30px  !important;}
 }
.place{
	&-right{
		float: right !important;
	 }
	&-left{
		float: left !important;
	}
 }
.politicLink{
	text-decoration: underline;
	font-size:@fontSize - 0.3;
	&:before{content: '( ';}
	&:after{content: ' )';}
 }
.popover {
  display: block;
  min-width: 12.5rem;
  height: auto;
  position: relative;
  background-color: #eeeeee;
  padding: 1.25rem;

	.popover * {
		color: inherit;
	}
	.popover-shadow {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	}
	&:before {
	content: "";
	width: .625rem;
	height: .625rem;
	display: block;
	position: absolute;
	background-color: inherit;
	left: -0.3125rem;
	top: 50%;
	margin-top: -0.3125rem;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	}
	&.marker-on-top:before {
	top: 0;
	left: 50%;
	margin-left: -0.3125rem;
	}
	&.marker-on-right:before {
	top: 50%;
	margin-top: -0.3125rem;
	left: 100%;
	margin-left: -0.3125rem;
	}
	&.marker-on-bottom:before {
	top: 100%;
	margin-left: -0.3125rem;
	left: 50%;
	margin-top: -0.3125rem;
	}
 }
.popup{
	top: 50px;
	margin: 1rem auto;
    position:relative;
    padding: 1rem;
    width:500px;
    box-shadow: 0 2px 5px #666666;
	text-align: center;
    z-index: 1010;
	display: none;

	& input[type=checkbox], & input[type=radio]{
		transform:scale(1.5);
		cursor: pointer;
		margin: 4px;
	}
	p{
		display: blocK;
	}

	@media screen and (max-width: 490px) {
		width:320px;
		margin:auto;
		label{
			display:inline-block;
			margin: auto;
		}
	}

	form {
		label{
			width: 90%;
			padding-right: 20px;
		}
		input[type=checkbox], input[type=radio]{
			margin:10px;
		}
	}
	.close{
		font-family: 'iconos';
		color: #444444;
		position: absolute;
		vertical-align: top;
		right: -7px;
		top: -5px;
		cursor:pointer;
		background-color: transparent;
		border-radius: 50px;
		@media (max-width: 425px){
			right: 0;
			top: 5px;
		}
	}

 }
.popup-overlay{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	height: 2000px !important;
    z-index: 3005;
    display:none;

    cursor: pointer;
	background-color: rgba(162, 162, 162, 0.5);
	.chckLstCon{
		text-align: left;
		margin: auto;
		//left: 33%;
		position: relative;
	}
	.chckSer{
		margin: 10px;
	}
 }
.resaltado{
	font-weight: bold;
 }
.responsive {
	@media screen and (max-width: 560px) {
		display: none;
	}
 }
.responsiveDesing{
	&_hidden{
		@media (max-width: 590px){display:none;}
	}

	&_show{
		display:none;
		@media (max-width: 590px){display:inline-block;}
	}
 }
.show{
	display:initial !important;
	&320{
		display:none;
		@media (max-width: 320px){display:inline-block;}
	}
	&490{
		display:none;
		@media (max-width: 490px){display:inline-block;}
	}
	&590{
		display:none;
		@media (max-width: 590px){display:inline-block;}
	}
 }
.stepper{
	margin:0;
    width: 97%;
	&>ul{
		li{
			border-radius: 50%;
			&:before{
				position:relative;
				top:2px;
			}
		}
	}
	@media (max-width: 425px){
		margin: auto;
	}
 }
.tabcontrol {
	.tabs {
		li{
			a{
				display: block;
				float: left;
				padding: 8px 24px;
				font-size: .6875rem;
				text-transform: uppercase;
				position: relative;
				white-space: nowrap;
			}
			&.active{
				a{
					text-shadow:none;
				}
			}
		}
	}
 }
.tablas{
	display:table;
	table-layout: fixed;
	justify-content: center;
	margin: auto;
	width: 100%;
	tr{
		height:100%;
		text-align: left;
		margin: 0 30%;
	}
	th{
		height: 25px;
	}
	 
	.celda{
		vertical-align: top;
		text-align:left !important;
		height :24px;
		form{
			width:100%;
			margin: 5px auto;
			p{
				margin-left:15px;
			}
			input{
				margin: 10px 0 0 0 auto;
				height: 20px;
			}
		}
		&:hover{
			width:inherit;
			.icon-plus{
				color: @grey;
				display:block;
			}
		}
		.aling-right{
			@media (max-width: 425px){
				font-size:@fontSize + 0.2;
			}
		}
		.icon{
			&-plus{
			display:none;
			text-align:center;
			position: relative;
			top: 5px;
			right: 5%;	
			}
		}
		.iconClass-container{
			width: auto;
		}
		&-horario{
			text-align: center;
			width: 100px;
			border: 0;
			 -webkit-user-select: none;
			 -khtml-user-select: none;
			 -moz-user-select: none;
			 -o-user-select: none;
			 -ms-user-select: none;
			 user-select: none;
       input{
         display: none;
       }
       @media (max-width: 800px){
         input{
           display: inline-block;
         }
       }
			@media (max-width: 425px){
			width:auto;
			}
		}
		table, tr, td, th {
			margin:0;
			border:0;
			padding:0;
			width:100%;
		}
		td{
			padding-left:3px;
			display:block;
			font-size: @fontSize - 0.1;
			@media screen and (max-width: 325px) {
				padding: 0px;
			}
		}
		.prepend-icon{
			margin-right: 5px;
		}
	 }
	&.colorear-filas{
		border-collapse: separate;
		td{
			height: 20px;
			vertical-align: middle;
		}
	}
	&.encabezado, .encabezado {
		color: @grey;
		margin:5px;
		th{
			border: none;
			text-decoration: underline;
			font-size:@fontSize;
		}

	 }
	.ui-tabs{
		width: 100%;
	 }
	.raton{
		cursor: pointer;
	 }
	.ico{
		display: block;
		margin: 0 2px;
		float: left;
	 }
	.opc{
		text-align:center;
		margin:auto;
		display: block;
		min-width: 70px;
	 }
	.num{
		font-size: @fontSize - 0.1;
		width: 3em;
		@media screen and (max-width: 490px){
			font-size: @fontSize - 0.2;
		}
	 }
	.cod{
		width: 120px;
	 }
	.obs{
		width: 50px;
	 }

	&-none{
		margin: auto;
		border: 0px;
	 }
	&-group{
		margin: 0 auto;
		.num{
			input{
				width: 50px;
			}
		}
	 }
	&-general{
		font-size: @fontSize - 0.1;
		position: relative;
		[name='dia[]']{
			display:none;
		}
		tr{
			td{
				border: 1px solid @grey;
				cursor:pointer;
			}
		}
		.num{
			vertical-align: baseline;
			border:none;
			padding-top: 5px;
		}
	 }

	.disabled{
		color:#ff0000;
		&>input{
		    pointer-events: none;
			cursor: default;
			opacity: 0.6;
		}
	 }
	@media screen and (max-width: 560px) {
		.cod {
			width: 50px;
		}
		.opc{
			width: 60px;
		}
		.obs{
			display: none;
		}
		.tel{
			display: none;
		}
		.nom{
			width: 50%;
		}
	 }
 } 
.table{
	width: auto;
	margin: auto;
	
	*{
		display: inline-block;
		margin: 2px;
	}
	.tr{
		display: block;
	}
	.col1{
		width: 15%;
		text-align: right;
	}
	.col2{
		width: 60%;
		margin: auto;
	}
	.col3{
		width: 15%;
		text-align: left;
	}	
 }
.template {
	display :  none !important;
 }
.underline {	
	background-size: 1px 1em;
 }
.ui-state-hover{
	background-color:  @default_color_auxiliar;
 }
.em{
	&_1{width: 1em}
	&_2{width: 2em}
	&_3{width: 3em}
	&_4{width: 4em}
	&_5{width: 5em}
	&_6{width: 6em}
	&_7{width: 7em}
	&_8{width: 8em}
	&_9{width: 9em}
	&_10{width: 10em}
 }
.parpadear {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
#config{
	.chck-container{
		display:inline-block;
		width: 77%;
		text-align: justify;
		@media (max-width: 800px){
			width: 90%;
		}

		@media (max-width: 320px){
			width: 100%;
			label{
				margin: 0.3rem;
			}
		}

		#minTime{
			width: 4em;
			display: inline;
		}
	}
 } 
#contenedorMenuPrincipal{
	top:50px;
	position:relative;
 }
#crearCita{
	.tablas{
		table{
			margin: 0 auto;
			td{
				padding: 0 25px;
				height: 30px;
			}
		}
	}
	#stepper1, #stepper2{
		display:none;
	}
	.contenedorServicios{
		margin: 20px auto;
		text-align: left;
		tr {
			display : none;
		}
	}
	.contUsers{
		margin: 20px auto;
		input, textarea{
			width:250px;
			display:block;
		}
	}
	.editando {
		display:none;
	}
	.ui-datepicker-inline{
		margin: auto;
	}
	#principal{
		display:none;
	}
	#secundaria{
		margin: auto;
	}
	#tSer{
		padding: 0 5px;
	}
 }
#estilos {
	& > div  {
		margin : 10px ;
	}
 } 
#festivos{
	.tablas{
		tr{
			text-align: center;
		}
		input{
			margin: 0;
			width: auto;
		}
		td{
			margin: auto;
			&:first-child{
				width: 10%;
				text-align: center;
			}
			&:last-child {
				margin: 0;
				padding: 0;
			}
		}
	}
 }
#frmNotas{
	text-align: center;
 }
#frameSocialMedia{
	
	button{
		display: block;
		cursor: pointer;
		color:#fff;
	}
	hr{
	    border: 0;
		height: 1px;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.tile{
		position: relative;
		top: 10px;
		padding: 10px;
		text-align: center;
		margin: auto;

	}
	.facebook{
		@colorFacebook: #3B5998;
		background-color:  @colorFacebook;
		border: 1px solid @colorFacebook;
		&:hover{
			border: solid 2px @colorFacebook;
		}
	}
	.google{
		@colorGoogle: #dd5044;
		background-color:  @colorGoogle;
		border: 1px solid @colorGoogle;
		&:hover{
			border: solid 2px @colorGoogle;
		}
	}
 }
#horarios{
	input, select { 
		padding-left: 2px; 
	}
	.lineaHorarios{
		margin: 5;
		.iconClass-container{
			width: 115px ;
		}
		input[type=checkbox]{
			top: 6px;
		}
	}
	table tr td {
		padding: 2px;
		*{ 
			display: inline;
		}
		select {
			background-color: @base;
		}
		.horas, .minutos{
			width: 3.5rem;
		}
	}

 }
#historial{
	a[class*='icon-']{
		
		&:hover{
			color: inherit;
			cursor: inherit;
		}
	}
	table{
		.fecha{
			width: 20ch;
		}
		.accion{
			width: 20ch;
		}
	}
 }
#mnuContacto{
	display:none;
	#frmContact{
		margin:5px;
		padding: 10px;
	}
	a{
		display: block;
		font-size:1.2em;
	}
	hr{
		margin: 2rem 0;
	}
	textarea{
		height:auto;
	}
 }
#navbar{
	display: block;
    width: 100%;
	height: 50px;
	position: fixed;
	z-index:2000;
	padding: 0 ;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	overflow: hidden;
	#boton-menu{
		display: inline-flex;
		z-index: 2200;
		position: fixed;
		top: 8px;
		left: 10px;
		font-size: 22px;
		color: white;
		padding: 5px; 

		&:hover{
			background:rgb(0,0,0,0.5);
		}
		@media (max-width: 425px){
			left: 5px;
		}
	}
	&:before, &:after {
		display: table;
		content: "";
	 }
	&:after {
		clear: both;
	 }
	*{
		 vertical-align: middle;
	 }
	ul{
		border: none;
		li {
			padding-top:  15;
		}
	}
	a{
		text-decoration: none;
		*{
			font-size: 20px;
    		vertical-align: sub;
		}
	}
	h1{
		display: inline-flex;
		width: 200;
	}
	.menuLbl{
		display: inline-table;
    	width: 75px;
	}
	.app-bar-element {
		.animate-spin{
			display: none;
		}
		display: inline-flex;
		line-height: 3.125rem;
		padding: 0 .625rem;		
		cursor: pointer;
		*{
			margin: 0 2px;
		}
		&:after {
			clear: both;
		 }
		.input-control{
			&.text, &.password{
				margin-top: .55rem;
				font-size: .875rem;
				line-height: 1.8rem;
				display: block;
				input{
					border-color: transparent;
				}
			}
		 }
		.button{
			margin-top: -0.15rem;
		 }


	 }
	.app-bar-menu {
		display: inline-block;
		float: left;
		li{
			padding: 0;
			line-height: 3.125rem;
			cursor: pointer;
			color: inherit;
			display: block;
			float: left;
			position: relative;
			a, i{
				width: 90%;
				padding: 0 0 0 10px;
				margin-right: 10px;
			}
			&:after{
				clear: both;
			 }
			.dropdown-toggle{
				padding-right: 1.5rem;
				&.active-toggle{
					&:before{
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
				&:before{
					display: block;
				}
			 }
		}
	 }
	.app-bar-pullmenu .app-bar-menu {
		width: 100%;	
		position: relative;
		float: none;
		display: none;
		z-index: 1000 1;
		
		clear: both;
	
		li {
			width: 100%;
			float: none;
			height: auto;
			a {
				float: none;
			}
		}

	 }
	.app-bar-drop-container {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 10px;
		border: 2px solid #005696;
		background: #ffffff;
		&:before {
			z-index: 0;
			content: '';
			position: absolute;
			background-color: #ffffff;
			width: 10px;
			height: 10px;
			border: 2px #005696 solid;
			top: 1px;
			left: 1rem;
			margin: -8px 0;
			border-bottom: none;
			border-right: none;
			-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
		 }
		.place-right {
			right: 0;
			left: auto;
			&:before{
				left: auto;
				right: 1rem;
			}
			&:before, &:after{
				display: table;
				content: "";
			}
		 }
  	 }
	.image-button {
		margin: 0;
		background-color: transparent;
		color: #ffffff;
		font-size: inherit;
		img.icon{
			padding: 0;
		}
	 }	
	.app-bar-pullbutton {
		line-height: 3.125rem;
		padding: 0 .625rem;
		font-size: 1rem;
		cursor: pointer;
		color: inherit;
		display: block;
		float: left;
		position: relative;
		height: 3.125rem;
		float: left;
		&.branding {
			padding-left: 1rem;
			padding-right: 1rem;
		 }

		&:before  {
			font-family: "iconos";
			display: table;
			content: '\f008';
			
		 }
		&:after{
			clear: both;
		 }
	 }
	.menulbl{
		@media (max-width: 800px) {display:none;}
	 }
	#conTxtBuscar{
		background-color: inherit;
		display:none;
		position:fixed;
		width: 100%;
		height: 50px;
		z-index: 1001;
		top: 0; 
		@media  (min-width: 800px) {
			right:140px;
		}

		input{
			border: none;
			width: 350px;
			margin: 10px 20px auto;
			float: right;
			padding-left: 20px;
			@media (max-width: 425px){
				width:210px;
				margin: 10px auto;
			}
		}
	 }
	.menuNull{
		display:none !important;
		width:40px;
		padding: 0 18px;
		@media screen and (max-width: 590px) {display:block !important;}
		@media screen and (max-width: 320px) {display:none !important;}
	 } 
	.branding{
		@media screen and (max-width: 800px) {
			width:50px;
		}
		@media screen and (max-width: 450px) {
			display: none;
		}
	 }
	.selected {
		.caption {
			background-size: 1px 1em;
			display: inline;
		}
	 }
	&-drop-container{
		margin: 5px;
		@media screen and (max-width: 325px) {
			width:300px !important;
			right:-48px !important;
			&:before{
				margin: -9px 41px !important;
			}
		}

		&:before{
			border-bottom: none;
			border-right: none;
		}
		.text-light{
			padding-left:5px;
		}
	 }
	&-divider{
		display: block;
		float: left;
		line-height: 3.125rem;
		height: 3.125rem;
		width: 1px;
		padding: 0;
		@media screen and (max-width: 560px) {
			height: 55px;
		}
	 }
	&-pullmenu{
		display: none;
	    text-align: left !important;

	 }
	.input-control{
		width: 230px ;
	 }
	#btnOptions{ 
		ul{
			width: 320px !important;
		}
	 }
	 
 }
.contenedor-datepicker{
	display: inline-flex;
	margin: 8 14;
	text-align: center;
	width: 100%;
	max-width: 358px;
	opacity: 0.5;
	i{
		position: relative;
		display: inline-flex;
		color: #888;
		z-index:10;
		top:9px;
	}
	.icon-right-open{
		left: 87%;
	}
	.icon-left-open{
		left: 46px;	
	}
	.datepicker{
		text-align:center;
		font-size: 1.1em;
		width: 100%;
	}
	@media (max-width: 425px){
		max-width: 210; 
		margin: 8 0 ;
		.icon-right-open {
			left: 79%;	
		}
	}
}
#nota{
	 margin: 1% 5% auto;
	 width:90%;
	 textarea{
		margin: 0 10%;
	 }
 }
#notas{
	textarea{
		display: block;	
		margin: auto;
		max-width: inherit;
		width: 320px;
		height: auto;
	}
	button, input{
		display: inline-block;
	}
	table{
		th:last-child{	
			width: 50%; 
		} 
	}
 }
#preloader{
	display: block;
 }
#servicios{
	.capaServicios{
		display: none;
	}
	.cuerpo{
	    top: 3.3rem;
	}
	table{
		thead{
			.tileDes{
				width: 65%;
			}
			.tileOpc{
				width: 10%; 
			}
			.tileCod {
				width: 15%;
			}
			.tileTiemp{
				width: 10%;
			}
		}
	}
	tbody{
		tr{
			display:none;
		}
	}

	@media (max-width: 590px){
		#lstSerSelect{
			width:100%
		}
	}
 }
#usuarios{
	.encabezado{
		margin: 10px auto;
		td{
			align: center;
		}
	}
	.cuerpo{
		top:3rem;
		@media (max-width: 425px){
		top: 2.3rem;
		}
		.tablas{
			.tileName { 
				width: 25%;
			}
			.tileTel{
				width: 12ch;
			}
			.tileId{
				width: 5%;
			}
			.tileOpc{
				width: 10%;
			}
			.tileEmail{
				width: 25%;
			}
			.tileObs{
				width: 3ch; 
			}
			.tileAdmin{
				width: 3ch;
			}
		}
		tr:not(:first-of-type){
			display : none;
		}
	}
	#popupHistorial{
		.tabla{
			width:100%;
			.encabezado {
				margin: 5px;
				td{
					border: none;
					text-decoration: underline;
					font-size: @fontSize;
				}
			}
		}
	}
 }
#user{
	nav{
		a * {
			font-size: 1em; 
		}
		#logo{
			height:50px;
			float: left;
		}

	}

 }
 section#historial{
	div.cita{
		width: fit-content;
		margin: auto;
		text-align: -webkit-right;
	}
	input.cancelar{ 
		margin: 5px;
	}
 }
.ui-datepicker{
	width: 302px;

	&-inline{
		border-width :0px ;
		display: inline ;
	}
 }
.ui{
	&-widget-content &-corner-all {
		font-family: 'iconos';
		.ui-datepicker-next {
			left: 92%;
			.ui-icon{
				&:before { content: '\e80e'; }
			}
		}
		.ui-datepicker-prev .ui-icon{
			&:before { content: '\e80d'; }
		}
	}
 }
  //secciones 
#main{
	.tablas{
		width: 100%;
		.alFondo{
			font-size: 0.7em;
			float: left;
			left: -30; 
			position: relative;
			vertical-align: middle;
			top: 5.5px;
			color: #999; 
			z-index: 1;
		}
	 }
	.celda{
		.note{
			.icon{
				&-load{
					display : none ;
				}
				&-ok {
					display : none ;
				}
			}
			&:first-child{
				top: 50%;
				position: fixed;
			}
			[type=text]{
				height: inherit;
				margin: 0 auto;
				padding: 0;
				border: none;
				width: 80%;
				max-width: none;
				background-color: inherit;
			}
			.iconClass-container{
				text-align:left;
				.iconClass-inside{
					top:0;
					display:none;
				}
				.icon{
					&-ok{
						position: absolute;
						right: 0;
					}
					&-load{
						position: absolute;
						right: 0;

					}
				}
			}
		}
		&.fuera_horario,  &.fueras_horario{
			background-color:rgb(220,220,220,0.7);
			color: @base; 
			border-color: @base;  
		}
	 }
	.dia {
		display:none;
		&.activa{
			display: block;
		}
	 }
	.icon{
		&-resize-full{
			visibility:hidden;
			text-align: right !important;
			float:right;
		}
		&-cancel{
			color: #ff0000;
		}
	 }
	.cuerpo{
		top: 40;
		@media (max-width: 430px){
			&.esMovil{
				.tablas{
					.celda{
						display: none;
						&[agenda='1']{
							display: table-cell;
						}
					}
				}
			}
		 }
	 }
	.atenuado{
		background-color: #dddddd;
		color:#fff;
	 }
	 input.nombreagenda{
		border: none;
		text-align: center;
		&:active{
			text-decoration: none !important;
		}
	 }
 }
 #crearCita{
	.tablas{
		table{
			margin: 0 auto;
		}
		td{
			padding: 0 25px;
		}
	}
	#stepper1, #stepper2{
		display:none;
	}
	.contenedorServicios{
		margin: 20px auto;
		text-align: left;
		tr {
			display : none;
		}
	}
	.contUsers{
		margin: 20px auto;
		input, textarea{
			width:250px;
			display:block;
		}
	}
	.editando {
		display:none;
	}
	.ui-datepicker-inline{
		margin: auto;
	}
	#principal{
		display:none;
	}
	#secundaria{
		margin: auto;
	}
	#tSer{
		padding: 0 5px;
	}

 }
 #festivos{
	.tablas{
		tr{
			text-align: center;
		}
		input{
			margin: 0;
			width: auto;
		}
		td{
			margin: auto;
			&:first-child{
				width: 10%;
				text-align: center;
			}
			&:last-child {
				margin: 0;
				padding: 0;
			}
		}
	}
 }
// Auxiliares
.inline{
	display: inline-block; 
 }
.template {
	display :  none !important;
 }
.row_2 {
  height: 40px;
}
.row_3 {
  height: 64px;
}
.row_4 {
  height: 88px;
}
.row_5 {
  height: 112px;
}
.row_6 {
  height: 136px;
}
.row_7 {
  height: 160px;
}
.row_8 {
  height: 184px;
}
.row_9 {
  height: 208px;
}
.row_10 {
  height: 232px;
}
.row_11 {
  height: 256px;
}
.row_12 {
  height: 280px;
}
.row_13 {
  height: 304px;
}
.row_14 {
  height: 328px;
}
.row_15 {
  height: 352px;
}
.row_16 {
  height: 376px;
}
.row_17 {
  height: 400px;
}
.row_18 {
  height: 424px;
}
.row_19 {
  height: 448px;
}
.row_20 {
  height: 472px;
}
.row_21 {
  height: 496px;
}
.row_22 {
  height: 520px;
}
.row_23 {
  height: 544px;
}
.row_24 {
  height: 568px;
}
.row_25 {
  height: 592px;
}
.row_26 {
  height: 616px;
}
.row_27 {
  height: 640px;
}
.row_28 {
  height: 664px;
}
.row_29 {
  height: 688px;
}
.row_30 {
  height: 712px;
}
.row_31 {
  height: 736px;
}
.row_32 {
  height: 760px;
}
.row_33 {
  height: 784px;
}
.row_34 {
  height: 808px;
}
.row_35 {
  height: 832px;
}
.row_36 {
  height: 856px;
}
.row_37 {
  height: 880px;
}
.row_38 {
  height: 904px;
}
.row_39 {
  height: 928px;
}
.row_40 {
  height: 952px;
}
.row_41 {
  height: 976px;
}
.row_42 {
  height: 1000px;
}
.row_43 {
  height: 1024px;
}
.row_44 {
  height: 1048px;
}
.row_45 {
  height: 1072px;
}
.row_46 {
  height: 1096px;
}
.row_47 {
  height: 1120px;
}
.row_48 {
  height: 1144px;
}
.row_49 {
  height: 1168px;
}
.row_50 {
  height: 1192px;
}
.row_51 {
  height: 1216px;
}
.row_52 {
  height: 1240px;
}
.row_53 {
  height: 1264px;
}
.row_54 {
  height: 1288px;
}
.row_55 {
  height: 1312px;
}
.row_56 {
  height: 1336px;
}
.row_57 {
  height: 1360px;
}
.row_58 {
  height: 1384px;
}
.row_59 {
  height: 1408px;
}
.row_60 {
  height: 1432px;
}
	
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2001; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
   
	font-weight: 100;
	transition: 1s;
	li{
		border-bottom: 1px solid rgb(200,200,200,0.5);
		padding: 5px 0;
		&:last-child{
			border-bottom:  0px;
		}
	}
	a {
		margin: auto;
		padding: 10px ;
		text-decoration: none;
		display: block;
		width: 130px;
		font-size: @font-size-menu;
		transition: all 0.3s;
		transform: translate(-5px,0);
		&:hover, &.selected {
			transform: translate(0);
			background: rgb(250,250,250,0.2);
			font-weight: 800;
		}
		.caption{
			font-size: 14px;
			vertical-align: middle;
			margin: 0 0 0 19px;
		}
		*{
			vertical-align: middle;
		}
	}
	.d-menu { 
		display: none;		
		li {
			a {
				padding-left: 22px;
				*{
					display: table-cell;
					font-size: 12px;
					position: relative;
				}
				.caption{
					padding-left: 12px;
					font-size: @font-size-menu - 5px;
				}
			}
			
			
		}
		
	}
	.hay-nota {
		border: 1px solid;
	}
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.tabcontrol {
  position: relative;
  width: 100%;
	.tabs {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none inside;
		white-space: nowrap;
		overflow: visible;
	}
	.tabs:before,
	.tabs:after {
		display: table;
		content: "";
	}
	.tabs:after {
		clear: both;
	}
	.tabs li {
		display: block;
		float: left;
		position: relative;
		white-space: nowrap;
		a {
		display: block;
		float: left;
		padding: 8px 24px;
		color: #1d1d1d;
		font-size: .6875rem;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		white-space: nowrap;
		}
		&:hover a {
			background-color: #eeeeee;
		}
		
	}
}